# Calculating Metrics for VehicleTrainingDataset.csv

In [2]:
import pandas as pd
from tabulate import tabulate

# Load the dataset
df = pd.read_csv('VehicleTrainingDataset.csv')

# Drop the 'Vehicle' column
df.drop('Vehicle', axis=1, inplace=True)

# Calculate summary statistics
summary_statistics = df.describe()

# Calculate mode (pandas mode() might return multiple rows if there is a tie, take the first row)
mode_values = df.mode().iloc[0]

# Add the mode to the summary statistics
summary_statistics.loc['mode'] = mode_values

summary_statistics

,RAM,storage,Trustfactor,Distance,TransmissionRate,Eligible
count,4000.000000,4000.000000,4000.000000,4000.00000,4000.000000,4000.000000
mean,56.347141,53.335870,55.689750,50.19090,55.567593,54.226251
std,25.336034,26.985317,26.422624,28.61364,26.534025,12.150534
min,12.500000,6.287500,10.000000,1.50000,11.111111,19.406435
25%,34.409375,29.615625,32.750000,25.27500,33.333333,45.760498
50%,56.262500,53.790625,56.000000,49.35000,55.555556,54.277847
75%,79.000000,76.918750,79.000000,75.02500,77.777778,62.471389
max,100.000000,99.968750,100.000000,100.00000,100.000000,93.043750
mode,44.412500,7.218750,27.000000,80.40000,44.444444,39.180093

# Calculating Metrics for 1000VehicleDataset.csv

In [7]:
import pandas as pd
from tabulate import tabulate

# Load the dataset
df = pd.read_csv('1000VehicleDataset.csv')

# Drop the 'Vehicle' column
df.drop('Vehicle', axis=1, inplace=True)

# Calculate summary statistics
summary_statistics = df.describe()

# Calculate mode (pandas mode() might return multiple rows if there is a tie, take the first row)
mode_values = df.mode().iloc[0]

# Add the mode to the summary statistics
summary_statistics.loc['mode'] = mode_values

summary_statistics

,RAM,storage,Trustfactor,Distance,TransmissionRate,Eligible
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,49.533250,44.925213,48.233000,41.835000,46.703704,46.246033
std,24.655083,26.143906,25.393809,27.440927,26.018156,12.165475
min,12.562500,6.306250,10.000000,1.500000,11.111111,14.977222
25%,27.543750,23.090625,27.000000,18.600000,25.925926,38.376563
50%,47.631250,40.821875,44.000000,37.650000,40.740741,43.680324
75%,68.540625,64.781250,68.000000,63.825000,66.666667,53.356840
max,99.862500,99.950000,100.000000,100.000000,100.000000,88.781806
mode,14.050000,34.487500,39.000000,4.300000,11.111111,23.821713

# Calculating Metrics for RandomTasks200.csv

In [5]:
import pandas as pd
from tabulate import tabulate

# Load the dataset
df = pd.read_csv('RandomTasks200.csv')

# Drop the 'Vehicle' column
df.drop('TaskID', axis=1, inplace=True)

# Calculate summary statistics
summary_statistics = df.describe()

# Calculate mode (pandas mode() might return multiple rows if there is a tie, take the first row)
mode_values = df.mode().iloc[0]

# Add the mode to the summary statistics
summary_statistics.loc['mode'] = mode_values

summary_statistics

,Required_RAM,Required_Storage,Minimum_Trust_Factor,Max_Distance,Min_Transmission_Rate,Min_Eligibility
count,200.000000,200.000000,200.00000,200.000000,200.000000,200.000000
mean,55.241188,51.667656,53.31000,50.166000,52.703704,52.617709
std,25.934630,26.694638,25.72514,29.405048,25.990216,12.591518
min,13.050000,7.362500,10.00000,1.800000,11.111111,23.118704
25%,31.612500,28.395312,31.75000,24.250000,29.629630,44.580266
50%,56.725000,54.309375,53.00000,48.150000,51.851852,51.991528
75%,78.681250,75.407813,73.00000,75.775000,74.074074,61.266725
max,100.000000,98.612500,100.00000,99.900000,100.000000,82.688009
mode,20.550000,14.312500,45.00000,98.100000,18.518519,35.522685

# Calculating Metrics for RandomTasks400.csv

In [6]:
import pandas as pd
from tabulate import tabulate

# Load the dataset
df = pd.read_csv('RandomTasks400.csv')

# Drop the 'Vehicle' column
df.drop('TaskID', axis=1, inplace=True)

# Calculate summary statistics
summary_statistics = df.describe()

# Calculate mode (pandas mode() might return multiple rows if there is a tie, take the first row)
mode_values = df.mode().iloc[0]

# Add the mode to the summary statistics
summary_statistics.loc['mode'] = mode_values

summary_statistics

,Required_RAM,Required_Storage,Minimum_Trust_Factor,Max_Distance,Min_Transmission_Rate,Min_Eligibility
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,57.253594,54.036563,54.965000,52.594750,55.555556,54.881092
std,25.840488,25.456715,26.578937,28.150623,26.546394,11.563960
min,12.600000,6.712500,10.000000,1.600000,11.111111,24.274444
25%,33.975000,32.553125,31.750000,27.875000,33.333333,46.852905
50%,58.393750,54.028125,54.000000,52.900000,55.555556,55.158056
75%,80.356250,75.700000,79.000000,77.000000,77.777778,63.081169
max,99.987500,99.931250,100.000000,99.200000,100.000000,88.482037
mode,15.362500,30.950000,19.000000,26.200000,62.962963,24.274444